# CONTOH 
# URI=mongodb+srv://rii(ini DB_USERNAME):123(ini DB_PASS)@test(ini DB_CLUSTER).abcde(ini CONNECTION_CODE).mongodb.net/temanppk(ini DB_NAME)?retryWrites=true&w=majority&tls=true&safeAtlas=true&appName=Test(ini APPNAME)
# atau URI=mongodb+srv://<db_username>(ini DB_USERNAME):<db_password>(ini DB_PASS)@test(ini DB_CLUSTER).abcde(ini CONNECTION_CODE).mongodb.net/temanppk(ini DB_NAME)?appName=Test(ini APPNAME)

# maka
# DB_USERNAME=rii
# DB_PASS=123
# DB_CLUSTER=test
# CONNECTION_CODE=abcde
# DB_NAME=temanppk
# APPNAME=Test

# MongoDB URI Access
DB_USERNAME=
DB_PASS=
DB_CLUSTER=
CONNECTION_CODE=
DB_NAME=
APPNAME=
MONGODB_URI=mongodb+srv://$DB_USERNAME:$DB_PASS@$DB_CLUSTER.$CONNECTION_CODE.mongodb.net/$DB_NAME?retryWrites=true&w=majority&tls=true&safeAtlas=true&appName=$APPNAME